body{
    width:33%;
}
#res{
    background-color:whitesmoke;
    height:48px;
    border: solid black;
    font-size:20px;
    
}
#btn1,#btn0{
    color:white;
    background-color:navy;
    width:25%;
    height:36px;
    font-size:18px;
    margin:0;
    float:left;
}
#btnClr,#btnEql{
    color:white;
    background-color:navy;
    width:25%;
    height:36px;
    font-size:18px;
    margin:0;
    float:left;
}
#btnSum,#btnSub,#btnMul,#btnDiv{
    color:whitesmoke;
    background-color:navy;
    width:25%;
    height:36px;
    font-size:18px;
    margin:0;
    float:left;
}
       